<div class="reset-container">
  <h2>Reset your password</h2>
  <p *ngIf="email">Resetting password for: <strong>{{ email }}</strong></p>
  <p>Please enter your new password</p>

  <input
    type="password"
    placeholder="Enter new password"
    name="newPassword"
    [(ngModel)]="newPassword"
    required
  />

  <input
    type="password"
    placeholder="Confirm new password"
    name="confirmPassword"
    [(ngModel)]="confirmPassword"
    required
  />

  <button (click)="resetPassword()">Send</button>

  <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
  <p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
</div>
