<nav class="navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="navbar-section navbar-left">
      <img src="assets/logo-white.png" alt="Logo" class="logo">
    </div>

    <div class="navbar-section navbar-center">
      <h5 class="title mb-0">Welcome To The Hiruza App</h5>
    </div>

    <div class="navbar-section navbar-right d-flex">
      <div *ngFor="let item of navItems" class="nav-item text-center mx-2">
        <a [href]="item.url" class="text-decoration-none">
          <div class="icon-circle">
            <img [src]="item.icon" [alt]="item.label" class="nav-icon">
          </div>
          <div class="nav-label">{{ item.label }}</div>
        </a>
      </div>
    </div>
  </div>
</nav>
