<app-navbar></app-navbar>

<div class="container shortlist-container">
  <i class="fa-solid fa-arrow-left text-dark me-2"
     style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
     [routerLink]="['/employer/job-applications']" ></i>
  <div class="d-flex align-items-center mb-5">
    <h2 class="text-center flex-grow-1">Shortlist</h2>
  </div>

  <div class="table-responsive">
    <table class="table" style="border: 3px solid #631B1B; box-shadow: 2px 2px 4px #631B1B;">
      <thead class="custom-header">
      <tr>
        <th class="table-th">#</th>
        <th class="table-th">Name</th>
        <th class="table-th">Email</th>
        <th class="table-th">Details</th>
        <th class="table-th">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of shortlist; let i = index" style="border: none;">
        <td style="border: none;">{{ i + 1 }}</td>
        <td style="border: none;">{{ user.name }}</td>
        <td style="border: none;">{{ user.email }}</td>
        <td style="border: none;"><a href="#" style="color: brown; text-decoration: none;">View</a></td>
        <td style="border: none;">
          <i class="bi bi-check2" style="color: limegreen; font-size: 1.2rem;"></i>
          <i class="bi bi-trash ms-3" style="color: red; font-size: 1.2rem; cursor: pointer;"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
