.verify-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
  margin: 100px;
  margin-left: 500px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.verify-container h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 1.5;
}

.verify-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 999px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.verify-container button {
  background-color: #6a1b1a;
  color: white;
  border: none;
  padding: 12px 190px;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;

}
