<app-navbar></app-navbar>
<div class="m-5">
  <i class="fa-solid fa-arrow-left text-dark me-2"
     style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
     [routerLink]="['/home-page']"></i>
</div>
<div class="container mt-5">
  <h4>Excellent progress so far!</h4>
  <p>
    To complete your application, please ensure that the CV you previously attached is up to date
    and includes all the necessary information. To increase your chances of being accepted, it is
    highly recommended to include a cover letter that highlights your motivation and relevant skills for the position.
  </p>

  <div class="row mt-4" style="min-height: 400px;">
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h5 class="cv-title">Your CV</h5>
      <div class="flex-fill d-flex align-items-center justify-content-center p-3 border rounded cv-box w-100">
        <img src="assets/cv-placeholder.png" alt="CV Preview" class="img-fluid w-100" style="object-fit: contain; max-height: 100%;">
      </div>

      <button class="btn btn-sm btn-edit mt-3" (click)="onEditCV()">Edit</button>
    </div>

    <div class="col-md-6 d-flex flex-column">
      <h5>Cover Letter</h5>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="flex-fill d-flex flex-column p-3 border rounded cover-box">
        <textarea
          class="form-control flex-fill cover-letter-textarea"
          placeholder="Add a short cover letter to support your application"
          formControlName="coverLetter"
        ></textarea>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-center submit-container mb-5">
    <button type="submit" class="btn btn-success btn-sm custom-submit-btn" (click)="onSubmit()">Submit</button>
  </div>

</div>
