<app-navbar></app-navbar>

<div class="container profile-container">
  <div class="profile-header d-flex justify-content-between align-items-start mt-4">
    <div class="d-flex align-items-center">
      <img src="assets/account-avatar.png" class="me-3">
      <div class="profile-info">
        <h2 class="profile-name">{{ name }}</h2>
        <p>Email : {{ email }}.</p>
        <p>Location : {{ location }}.</p>
        <p>About me : {{ aboutMe }}.</p>
      </div>
    </div>
    <button class="btn edit-profile-btn">Edit profile</button>
  </div>
</div>
