<div class="forget-container">
  <h1>Forgot your password?</h1>
  <p>Enter your email</p>
  <p class="desc">and we will send you a random code to reset your password.</p>

  <form (ngSubmit)="sendResetCode()" #form="ngForm">
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Enter your email"
      required
      email
    />
    <div class="error" *ngIf="submitted && !email">Email is required.</div>

    <button type="submit">Send</button>
  </form>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
</div>
