.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #641B1B;
  padding: 10px 60px;
  position: relative;
  z-index: 1100;
}

.logo {
  flex: 0 0 auto;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 25px;
  position: relative;
}

.icon {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon span {
  margin-left: 0;
  margin-top: 2px;
  font-size: 12px;
}

.icon.login {
  position: absolute;
  right: 0;
  background-color: white;
  color: #641B1B;
  padding: 7px 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.icon.login:hover {
  background-color: #F0F0F0;
}

.icon.active {
  color: #000000;
  font-weight: bold;
}

.centered-menu {
  justify-content: center;
}

.end-menu {
  justify-content: flex-end;
}
