<nav class="navbar">
  <div class="logo">HiRUZA</div>
  <div class="title">Welcome To The Hiruza App</div>
  <div class="menu">
    <ng-container *ngIf="role === 'admin'">
      <div class="icon" routerLink="/dashboard-admin" routerLinkActive="active"><i class="fa fa-home"></i><span>Home</span></div>
      <div class="icon" routerLink="/" routerLinkActive="active"><i class="fa fa-bell"></i><span>Notification</span></div>
      <div class="icon" routerLink="/admin-profile" routerLinkActive="active"><i class="fa fa-user"></i><span>Profile</span></div>
    </ng-container>

    <ng-container *ngIf="role === 'jobseeker'">
      <div class="icon" routerLink="/home-page" routerLinkActive="active"><i class="fa fa-home"></i><span>Home</span></div>
      <div class="icon" routerLink="/" routerLinkActive="active"><i class="fa fa-bookmark"></i><span>Saved</span></div>
      <div class="icon" routerLink="/applications-status" routerLinkActive="active"><i class="fa fa-folder"></i><span>Applications</span></div>
      <div class="icon" routerLink="/seeker-notification" routerLinkActive="active"><i class="fa fa-bell"></i><span>Notification</span></div>
      <div class="icon" routerLink="/jobseeker-profile" routerLinkActive="active"><i class="fa fa-user"></i><span>Profile</span></div>
    </ng-container>

    <ng-container *ngIf="role === 'employer'">
      <div class="icon" routerLink="/employer-home" routerLinkActive="active"><i class="fa fa-home"></i><span>Home</span></div>
      <div class="icon" (click)="openJobModal()" routerLinkActive="active"><i class="fa fa-plus-circle"></i><span>New Job</span></div>
      <div class="icon" routerLink="/employer/job-postings" routerLinkActive="active"><i class="fa fa-briefcase"></i><span>Jobs</span></div>
      <div class="icon" routerLink="/employer-notification" routerLinkActive="active"><i class="fa fa-bell"></i><span>Notification</span></div>
      <div class="icon" routerLink="/employer-profile" routerLinkActive="active"><i class="fa fa-user"></i><span>Profile</span></div>
    </ng-container>
  </div>
</nav>
