
<div class="container profile-container">
  <div class="mt-4">
    <i class="fa-solid fa-arrow-left"
       style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
       [routerLink]="['/employer/job-applications']"></i>
  </div>

  <div class="profile-header d-flex justify-content-between align-items-start mt-4">
    <div class="d-flex align-items-center">
      <img src="assets/account-avatar.png" class="me-3">
      <div class="profile-info">
        <h2 class="profile-name mb-0">{{ name }}</h2>
        <p>Email: {{ email }}.</p>
        <p>Location: {{ location }}.</p>
        <p>About me: {{ aboutMe }}.</p>
      </div>
    </div>

    <div class="action-buttons d-flex gap-2">
      <button class="btn btn-accept">Accept</button>
      <button class="btn btn-shortlist">Shortlist</button>
      <button class="btn btn-reject">Reject</button>
    </div>
  </div>

  <div class="resume-section mt-5">
    <div class="resume-header d-flex justify-content-between align-items-center mb-4">
      <h2 class="section-title mb-0">Resume Details</h2>
      <button class="btn btn-view-resume">View Resume</button>
    </div>

    <div class="subsection mt-3">
      <h5>Professional Experience</h5>
      <ul>
        <li *ngFor="let exp of experiences">{{ exp }}</li>
      </ul>
    </div>

    <div class="subsection mt-3">
      <h5>Education</h5>
      <ul>
        <li *ngFor="let edu of education">{{ edu }}</li>
      </ul>
    </div>

    <div class="subsection mt-3">
      <h5>Skills</h5>
      <ul>
        <li *ngFor="let s of skills">{{ s }}</li>
      </ul>
    </div>

  
  </div>
</div>
