<div class="row g-4 mb-5">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">registered users</div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">number of Job Seekers</div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">number of Employers</div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">jobs posted</div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">Requests accepted</div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="stat-card text-white text-center">Requests rejected</div>
  </div>
</div>
