<div class="job-applications-container">
  <div class="row justify-content-center mb-5">
    <i class="fa-solid fa-arrow-left text-dark me-2"
       style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
       [routerLink]="['/employer/job-postings']"></i>
    <div class="col-md-6">
      <input type="text" class="form-control search-input px-4 py-2" placeholder="Search by name or job title">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let profile of profiles">
      <div class="card text-center profile-card h-100">
        <div class="card-header p-0 bg-maroon rounded-top">
          <img [src]="profile.image" class="rounded-circle profile-img mt-2" alt="Profile image">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{profile.name}}</h5>
          <p class="card-text mb-0">{{profile.email}}</p>
          <p class="card-text">{{profile.location}}</p>
          <h6>{{profile.position}}</h6>
          <p class="card-text">{{profile.description}}</p>
          <div class="d-flex justify-content-around mt-3">
            <button class="btn btn-outline-success">Add to Shortlist</button>
            <button class="btn btn-outline-danger">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button class="btn view-shortlist-btn" [routerLink]="['/employer/shortlist']">View Shortlist</button>
  </div>
</div>
