
<div class="dashboard-container d-flex min-vh-100 position-relative">
  <button
    class="toggle-sidebar-btn custom-hide-sidebar-btn btn position-absolute top-0 start-0 m-3 z-3"
    (click)="toggleSidebar()">
    <i class="bi bi-list" style="font-size: 2rem;"></i>
  </button>
  <div
    class="sidebar-overlay"
    *ngIf="sidebarOpen && !isDesktopView"
    (click)="closeSidebar()">
  </div>
  <div
    class="sideBar"
    [ngClass]="{'show': sidebarOpen}"
    *ngIf="sidebarOpen || isDesktopView"
    (click)="stopPropagation($event)">
    <app-sidebar (closeSidebar)="closeSidebar()"></app-sidebar>
  </div>

  <div class="main-content-wrapper d-flex flex-column flex-grow-1">
    <div class="main-section d-flex flex-grow-1 flex-column flex-md-row p-4 gap-4">
      <main class="flex-grow-1 text-white">
        <header class="mb-5 dashboard-header">
          <h2 class="fw-bold text-dark">DashBoard Admin</h2>
          <p class="text-muted">Take charge of your accounts with ease and security.</p>
        </header>
        <app-stat-cards></app-stat-cards>
        <app-job-overview></app-job-overview>
        <app-job-table></app-job-table>
      </main>
      <app-recommended-jobs></app-recommended-jobs>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<router-outlet></router-outlet>
