<div class="job-details-card position-relative">
  <i class="fa-solid fa-arrow-left text-dark me-2"
     style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
     (click)="goBack()"></i>
  <div class="container">
    <div class="d-flex justify-content-between align-items-start my-3">
        <div class="d-flex align-items-center mb-3">

          <div *ngIf="isEditMode" class="logo-upload-wrapper" (click)="fileInput.click()">
            <img
              [src]="jobDetails.preview_logo ? jobDetails.preview_logo : 'assets/default-logo.png'"
              alt="Company Logo"
              class="company-logo"
            />
            <div class="overlay">
              <i class="fa-solid fa-pen"></i>
            </div>
            <input
              #fileInput
              type="file"
              accept="image/*"
              (change)="onLogoChange($event)"
              hidden
            />
          </div>

          <div *ngIf="!isEditMode">
            <img
              [src]="jobDetails.company_logo || 'assets/default-logo.png'"
              alt="Company Logo"
              class="company-logo"
            />
          </div>


          <div class="ms-3">
          <h5 class="mb-1 d-flex align-items-center gap-2">
            <i class="fa-solid fa-briefcase text-custom-red" style="font-size: 1rem;"></i>
            <input *ngIf="isEditMode" [(ngModel)]="jobDetails.title" class="form-control" />
            <span *ngIf="!isEditMode">{{ jobDetails.title }}</span>
          </h5>

          <p class="mb-1 text-muted d-flex align-items-center gap-2" *ngIf="!isEditMode">
            <i class="fa-solid fa-building text-custom-red" style="font-size: 1rem;"></i>
            <span>{{ jobDetails.employer?.company_name }}</span>
          </p>

          <p class="text-muted mb-1 d-flex align-items-center gap-2">
            <i class="fa-solid fa-location-dot text-custom-red" style="font-size: 1rem;"></i>
            <input *ngIf="isEditMode" [(ngModel)]="jobDetails.location" class="form-control" />
            <span *ngIf="!isEditMode">{{ jobDetails.location }}</span>
          </p>
        </div>
      </div>

      <div class="d-flex align-items-start gap-2">
        <button *ngIf="role === 'employer'" class="btn custom-btn w-100 text-white" (click)="isEditMode ? saveChanges() : toggleEditMode()">
          {{ isEditMode ? 'Save' : 'Edit' }}
        </button>

        <div *ngIf="role === 'job-seeker'" class="d-flex gap-2">
          <button class="btn btn-light border" (click)="toggleSave()">
            <i [ngClass]="isSaved ? 'bi bi-bookmark-fill text-custom-red' : 'bi bi-bookmark text-dark'"></i>
          </button>
          <button class="btn custom-btn text-white" [routerLink]="['/application-review']">
            Apply Now
          </button>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <h6>Description</h6>
      <textarea *ngIf="isEditMode" [(ngModel)]="jobDetails.description" class="form-control" rows="5"></textarea>
      <p *ngIf="!isEditMode">{{ jobDetails.description }}</p>
    </div>

    <div class="custom-box p-4">
      <div class="info-row my-3">
        <span>Experience</span>
        <span class="fw-bold">
          <select *ngIf="isEditMode && jobOptions.experienceOptions?.length" class="form-select custom-border" [(ngModel)]="jobDetails.experience" name="experience">
            <option *ngFor="let option of jobOptions.experienceOptions" [value]="option">{{ option }}</option>
          </select>
          <span *ngIf="!isEditMode">{{ jobDetails.experience }}</span>
        </span>
      </div>
      <hr>

      <div class="info-row my-3">
        <span>Languages</span>
        <span class="fw-bold">
          <input *ngIf="isEditMode" [(ngModel)]="jobDetails.languages" class="form-control" />
          <span *ngIf="!isEditMode">{{ jobDetails.languages }}</span>
        </span>
      </div>
      <hr>

      <div class="info-row my-3">
        <span>Employment</span>
        <span class="fw-bold">
          <select *ngIf="isEditMode && jobOptions.employmentOptions?.length" class="form-select custom-border" [(ngModel)]="jobDetails.employment" name="employmentType">
            <option *ngFor="let option of jobOptions.employmentOptions" [value]="option">{{ option }}</option>
          </select>
          <span *ngIf="!isEditMode">{{ jobDetails.employment }}</span>
        </span>
      </div>
      <hr>

      <div class="info-row my-3">
        <span>Schedule</span>
        <span class="fw-bold">
          <input *ngIf="isEditMode" [(ngModel)]="jobDetails.schedule" class="form-control" />
          <span *ngIf="!isEditMode">{{ jobDetails.schedule }}</span>
        </span>
      </div>
      <hr>

      <div class="info-row my-3">
        <span>Category</span>
        <span class="fw-bold">
          <select *ngIf="isEditMode && jobOptions.categoryOptions?.length" class="form-select custom-border" [(ngModel)]="jobDetails.category" name="category">
            <option *ngFor="let option of jobOptions.categoryOptions" [value]="option">{{ option }}</option>
          </select>
          <span *ngIf="!isEditMode">{{ jobDetails.category }}</span>
        </span>
      </div>
      <hr>

      <div class="info-row my-3">
        <span>Salary</span>
        <span class="text-danger fw-bold">
          <input *ngIf="isEditMode" [(ngModel)]="jobDetails.salary" class="form-control" />
          <span *ngIf="!isEditMode">{{ jobDetails.salary }}</span>
        </span>
      </div>
      <hr>

      <div *ngIf="isEditMode">
        <div class="form-group my-3">
          <label for="documentUpload" class="form-label">Upload New Document</label>
          <input type="file" class="form-control" (change)="onFileChange($event)" id="documentUpload" />
        </div>
        <button *ngIf="jobDetails.documents" class="btn btn-danger w-100 mb-3" (click)="removeDocument()">
          Remove Current Document
        </button>
      </div>

      <button *ngIf="!isEditMode && jobDetails.documents" class="btn custom-gray-btn w-100 my-3" (click)="downloadDocument()">
        View Documents
      </button>


    </div>
  </div>
</div>
