.job-details-card {
  padding: 60px;
}
.custom-btn {
  background-color: #631B1B;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #4a1111;
}
.text-custom-red {
  color: #631B1B !important;
}

.custom-box {
  border: 3px solid #631B1B;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(99, 27, 27, 0.4);
  transition: transform 0.2s ease;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

hr {
  margin: 0.5rem 0;
  border: none;
  border-top: 2px solid #606060;
}
.custom-gray-btn {
  background-color: #e0e0e0;
  color: #000;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.custom-gray-btn:hover {
  background-color: #d5d5d5; /* أغمق شوي */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}
