<div class="row g-3">
  <div class="col-auto job-card-container" *ngFor="let job of jobs" style="cursor: pointer;">
    <a
      class="card job-card"
      [routerLink]="['/job-details', job.id]"
      [queryParams]="{ role: 'job-seeker' }"
      style="cursor: pointer; text-decoration: none; color: inherit;"
    >
      <div class="card-body">
        <h5 class="card-title">{{ job.title }}</h5>
        <p class="card-text">{{ job.description }}</p>
        <p class="text-muted">${{ job.salary }} per hour</p>
      </div>
    </a>

  </div>
</div>
