<app-navbar [role]="'employer'"></app-navbar>

<div class="container profile-container">
  <div class="profile-header d-flex justify-content-between align-items-start mt-4">
    <div class="d-flex align-items-center">
      <img src="assets/account-avatar.png" class="me-3">
      <div class="profile-info">
        <h2 class="profile-name">{{ name }}</h2>
        <p>Email : {{ email }}.</p>
        <p>Location : {{ location }}.</p>
        <p>About me : {{ aboutMe }}.</p>
      </div>
    </div>
    <button class="btn edit-profile-btn">Edit profile</button>
  </div>

  <div class="resume-section mt-5">
    <div class="resume-header d-flex justify-content-between align-items-center mb-4">
      <h2 class="section-title mb-0">Job Listings</h2>
    </div>
    <div class="row g-5">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let job of jobs">
        <app-job-card
          [job]="job"
          (closeJob)="closeJob(job)"
        ></app-job-card>

      </div>
    </div>
  </div>
</div>
