<aside class="p-3 d-flex flex-column justify-content-between position-relative h-100">
  <button
    class="btn-close-sidebar d-md-none position-absolute top-0 end-0 m-3"
    (click)="closeSidebar.emit()"
    aria-label="Close Sidebar">
    <i class="bi bi-x-lg text-white" style="font-size: 1.5rem;"></i>
  </button>

  <div class="text-center mt-5">
    <button class="btn w-100 mb-4 button-aside">DashBoards</button>
    <a routerLink="/admin/manage-employers" class="btn w-100 mb-4 button-aside">Manage employers</a>
    <a routerLink="/admin/all-users" class="btn w-100 mb-4 button-aside">Manage Users</a>
    <a routerLink="/admin/job-listings" class="btn w-100 mb-4 button-aside">Job listings and remove jobs post</a>
  </div>
</aside>
