<app-navbar [role]="'jobseeker'"></app-navbar>
<div class="categories-container">
  <i class="fa-solid fa-arrow-left text-dark me-2 mb-5"
     style="font-size: 1.8rem; cursor: pointer;color: #631b1b !important;"
     (click)="goBack()"></i>


<div class="job-card-container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
  <div class="col" *ngFor="let job of jobs">
      <div class="card job-card position-relative h-100" [routerLink]="['/job-details']" [queryParams]="{ role: 'job-seeker' }">
        <i
          class="bi position-absolute m-2 bookmark-icon"
          [ngClass]="job.saved ? 'bi-bookmark-fill custom' : 'bi-bookmark bookmark-pink'"
          [ngStyle]="{
            fontSize: '1.3rem',
            cursor: 'pointer',
            color: job.saved ? '' : '#631b1b'
          }"
          (click)="toggleSave($event, job)"
        ></i>

        <div class="job-image-wrapper">
          <img [src]="job.image" alt="Company Logo" class="job-image" />
        </div>

        <div class="card-body">
          <h6 class="card-title fw-bold">{{ job.title }}</h6>
          <p class="card-text small text-muted">{{ job.description }}</p>
        </div>

        <div class="card-footer custom-rate-text">
          <div>${{ job.salary }} per hour</div>
          <button class="apply-btn" (click)="applyJob(job)">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
