<div class="job-postings-container">
  <div>
    <i class="fa-solid fa-arrow-left text-dark me-2"
       style="font-size: 1.8rem; cursor: pointer; color: #631b1b !important;"
       routerLink="/employer-home" ></i>
    <h1 class="text-center">Job Postings</h1>
  </div>
  <div class="d-flex justify-content-end mb-3">
    <button class="btn add-job" (click)="openJobModal()">
      <i class="bi bi-plus-lg" ></i> Add New Job
    </button>
  </div>
  <app-create-job></app-create-job>
  <div class="border-bottom border-3 my-5" style="border-color: #631B1B;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'open'" (click)="selectedTab = 'open'">Open Positions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'closed'" (click)="selectedTab = 'closed'">Closed Positions</a>
      </li>
    </ul>
  </div>

  <div class="row g-5">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let job of filteredJobs">
      <app-job-card
        [job]="job"
        (closeJob)="closeJob(job)"
      ></app-job-card>

    </div>
  </div>
</div>
