.job-postings-container {
  padding: 60px;
  border-radius: 10px;
}
.add-job{
  background-color: #631B1B;
  color: white;
  border-radius: 50px;
}
.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-tabs .nav-item {
  flex: 1;
}

.nav-tabs .nav-link {
  color: #631B1B;
  background: #ffffff;
  text-align: center;
  display: block;
  padding: 10px 0;
}

.nav-tabs .nav-link.active {
  background: #631B1B;
  color: #ffffff;
}
