.job-card {
  border: 3px solid #631B1B;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(99, 27, 27, 0.4);
  transition: transform 0.2s ease;
}

.job-card:hover {
  transform: translateY(-3px);
}
.job-img {
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
}
.salary{
  color: #B51D1E;
}
