<div class="field">
  <div class="container">
  <h1>HIRUZA</h1>
  <h2>Find a job in your field</h2>
  <div class="grid-container">
    <a href="/home-page" class="grid-item">
      <img src="/assets/markiting.jpg" >
      <span>Marketing</span>
    </a>
    <a href="/home-page" class="grid-item">
      <img src="/assets/tech.jpg" >
      <span>Technology</span>
    </a>
    <a href="/home-page" class="grid-item">
      <img src="assets/design.jpg" >
      <span>Design</span>
    </a>
    <a href="/home-page" class="grid-item">
      <img src="assets/sales.jpg" >
      <span>Sales</span>
    </a>
    <a href="/home-page" class="grid-item">
      <img src="assets/cooking.jpg" >
      <span>Cooking</span>
    </a>
    <a href="/home-page" class="grid-item">
      <img src="assets/other.jpg" >
      <span>Other</span>
    </a>
  </div>
</div>
</div>
