<div class="field">
  <div class="container">
    <img src="../../../../assets/logo.png" alt="Logo" class="logo-img" />
    <h2>Find a job in your field</h2>
    <div class="grid-container">
      <a routerLink="/home-page" class="grid-item">
        <img src="/assets/markiting.jpg" alt="Marketing" />
        <span>Marketing</span>
      </a>
      <a routerLink="/home-page" class="grid-item">
        <img src="/assets/tech.jpg" alt="Technology" />
        <span>Technology</span>
      </a>
      <a routerLink="/home-page" class="grid-item">
        <img src="assets/design.jpg" alt="Design" />
        <span>Design</span>
      </a>
      <a routerLink="/home-page" class="grid-item">
        <img src="assets/sales.jpg" alt="Sales" />
        <span>Sales</span>
      </a>
      <a routerLink="/home-page" class="grid-item">
        <img src="assets/cooking.jpg" alt="Cooking" />
        <span>Cooking</span>
      </a>
      <a routerLink="/home-page" class="grid-item">
        <img src="assets/other.jpg" alt="Other" />
        <span>Other</span>
      </a>
    </div>
  </div>
</div>
